.header_area {
  position: fixed;
  background-color: $wcolor;

  width: 100%;
  padding-bottom: 5px;
  transition: 0.6s;
}
.main_nav {
  display: flex;
  justify-content: space-between;
  ul {
    li {
      a {
        font: {
          weight: $fontWMD;
        }
      }
    }
  }
}
.ul {
  li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    padding-top: 20px;
  }
  a {
    color: $mcolor;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.logo_area {
  img {
    padding: 8px;
  }
}
.sticky {
  padding-bottom: 5px;
  background-color: white;
  a {
    color: $mcolor;
  }
}
